# ===============================
# DJANGO SETTINGS
# ===============================

SECRET_KEY=your_django_secret_key_here
DEBUG=True

# ===============================
# MYSQL DATABASE CONFIG
# ===============================

MYSQL_DB=irctc_db
MYSQL_USER=root
MYSQL_PASSWORD=your_mysql_password
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

# ===============================
# MONGODB ATLAS CONFIG
# ===============================

MONGO_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
